header {
    background-color: map-get($header, bgHeader);
    border: map-get($header, bordeHeader);

    .navbar{
    padding: 35px 0;
    background-color: rgb(39, 39, 39) !important;
        a{
            color: map-get($header, colorEnlace);
            font-family: "Roboto", sans-serif;
        }
        
    } 
}


/* termina la navbar */

.logo {
    width: 5%;
    cursor: pointer;
    border-radius: 50px;
}


/* empieza el footer */

footer {
    background-color: $gris-claro;
    color: $blanco;
    font-family: $fuente-p;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;

    img {
        width: 20px;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }

}

/* acaba el footer */