#merchandisingMarvel {
    background-image: url(https://images5.alphacoders.com/283/283337.jpg);
    @include propiedadBackground(cover, center, no-repeat);

    section{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        h1{
            width: 100%;
            color: rgb(255, 255, 255);
            font-family: 'Roboto', sans-serif;
            font-size: 2rem;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.87);
        }
    
        .card{
            width: 30%;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        
        .estilo-a{
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                color: black;
                font-weight: bold;
                text-align: center;
            }
        
            strong{
                font-family: 'Roboto', sans-serif;
                color: black;
                font-weight: bold;
            }
        
            a{
                text-decoration: none;
                color: rgb(255, 255, 255);
                text-align: center;
            
                &:hover{
                    text-decoration: underline;
                }
            }
        
            .img-container{
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.904);
                border: solid 2px white;
                
                img {
                    width: 100%;
                    top: -25%;
                    transition: all 0.5s;
                    padding: 15%;
                }
            }
        
            
            &:hover .img-container img{
                transform: scale(1.2);
            }
        }
    }
}

