#merchandisingMarvel {
    background-image: url(https://images5.alphacoders.com/283/283337.jpg);
    @include propiedadBackground(cover, center, no-repeat);

    section{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
        h1{
            width: 100%;
            color:$blanco;
            font-family: $fuente-p;
            font-size: 2rem;
            font-weight: bold;
            background-color: $gris-oscuro;
        }
    
        .card{
            width: 30%;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        
        .estilo-a{
            p{
                font-family: $fuente-p;
                font-size: 1rem;
                color: $gris-oscuro;
                font-weight: bold;
                text-align: center;
            }
        
            strong{
                font-family: $fuente-p;
                color: $gris-oscuro;
                font-weight: bold;
            }
        
            a{
                text-decoration: none;
                color: $blanco;
                text-align: center;
            
                &:hover{
                    text-decoration: underline;
                }
            }
        
            .img-container{
                overflow: hidden;
                background-color: $gris-oscuro;
                border: solid 2px $blanco;
                
                img {
                    width: 100%;
                    top: -25%;
                    transition: all 0.5s;
                    padding: 15%;
                }
            }
        
            
            &:hover .img-container img{
                transform: scale(1.2);
            }
        }
    }
}

