#ucmMarvel{
    background-image: url(https://wallpaper.dog/large/10841391.jpg);
    @include propiedadBackground(cover, center, no-repeat);
    color: $blanco;

    .ucmimg{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ucmimg img{
        max-height: 350px;
    }

    .table {
        background-color: $bordo;
        color: $blanco;
        font-family: $fuente-p; 
    }
}


