// colores
$gris-oscuro:rgb(15, 15, 15);
$gris-claro: rgb(39, 39, 39);
$rojo-claro: rgb(235, 27, 0);
$blanco: rgb(255, 255, 255);
$violeta: rgb(77, 15, 223);


// Fuentes
$fuente-p: 'Roboto', sans-serif;