* {
    padding: 0;
    margin: 0;
    }

html{
    font-size: 1rem;
    font-family: $fuente-p;
}

/*aplicando mapa a header*/

$header:(
    bordeHeader: 5px solid rgb(15, 15, 15),
    bgHeader: rgb(39, 39, 39),
    colorEnlace: #fff,
);

@mixin propiedadBackground ($size, $position, $repeat){
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

%headings{
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    color: $blanco;
}

// Globales

.layout {
    background-color: rgba(46, 45, 45, 0.562);
    border: 3px solid $blanco;
    padding: 10px;   
}

main {
    padding-top: 40px;
}


h1 {
    @extend %headings;
}

h2 {
    @extend %headings;
}

h3 {
    @extend %headings;
}

h4 {
    @extend %headings;
}

section p  {
    color: white;
    font-family: $fuente-p;
    text-align: justify;
    font-size: 1rem;    
}

.carousel-inner{
    max-width: 600px;
    margin: 10px auto;

    img{
        width: 100%;
        height: 400px;
    }
}

// Imports

@import "variables";
@import "headernav";
@import "ucm";
@import "stanlee";
@import "merchandising";
@import "videojuegos";
@import "marvelComics";


/*Aplicación de media queries*/

@media screen and (max-width: 480px){
    .carousel-item img{
        height: 250px;
    }
}

    
@media screen and (max-width: 750px){
    .container ul li {
        flex-direction: column;
        display: flex;            
    }

    .container {
        flex-direction: column;
        padding: 2%;
    }

    .logo {
        width: 15%;
        margin-bottom:5px ;
    }

    #merchandisingMarvel section {
        flex-direction: column;
        align-items: center;
    }

    .estilo-a .img-container{
        height: 50%;
        
    }

    .estilo-a .img-container img{
        max-width: 600px;
        position: static;
    }

    #merchandisingMarvel .card{
        width: 95% !important;
        max-width: 500px;
    }

    #videojuegosMarvel iframe{
        height: 300px;
    }
}